In [179]:
import json

In [180]:
# Open and load the JSON file
with open("generated.json", "r", encoding="utf-8") as file:
    data = json.load(file)  # Load JSON data as a Python dictionary

In [181]:
type(data)

list

In [182]:
type(data[0])

dict

# Manipulation des données

### Dictionnaire

In [108]:
months = {"janvier": 31, "février": 28, "mars": 31, True: "Oui ca marche"}

In [109]:
for k,v in months.items():
    print(str(k)+ ' ' +str(v))

janvier 31
février 28
mars 31
True Oui ca marche

In [110]:
L = ["C", "C++", "Python", "Perl", "Java", "Visual Basic"]
dict = { x:len(x) for x in L}
dict

{'C': 1, 'C++': 3, 'Python': 6, 'Perl': 4, 'Java': 4, 'Visual Basic': 12}

In [111]:
initial = { x:x**2 for x in range(10)}
dictFinal = { -x:x2 for x,x2 in initial.items() }
dictFinal

{0: 0, -1: 1, -2: 4, -3: 9, -4: 16, -5: 25, -6: 36, -7: 49, -8: 64, -9: 81}

In [112]:
months = {"janvier": 31, "février": 28, "mars": 31, "avril": 30}
keyList = sorted(months)
valList = sorted(months.values())

In [113]:
months.update({'lol':0})

In [114]:
months

{'janvier': 31, 'février': 28, 'mars': 31, 'avril': 30, 'lol': 0}

In [115]:
months["hello"] = 'yo yo'

In [116]:
months.pop('hello')

'yo yo'

In [117]:
months

{'janvier': 31, 'février': 28, 'mars': 31, 'avril': 30, 'lol': 0}

In [118]:
del months['janvier']

In [119]:
months

{'février': 28, 'mars': 31, 'avril': 30, 'lol': 0}

In [120]:
#delet all the dict 
#months.clear()

In [121]:
len(months)

4

In [122]:
months.get("janvier")

### Keys:

In [123]:
for x in months:
    print(x)

février
mars
avril
lol

In [124]:
for x in months.keys():
    print(x)

février
mars
avril
lol

In [125]:
for x in months.values():
    print(x)

28
31
30
0

### Liste:

In [126]:
numbers = [1, 1, 2, 3, 5, 8, 13]
for elem in numbers:
  print('Nombre actuel :', elem*20/100)

Nombre actuel : 0.2
Nombre actuel : 0.2
Nombre actuel : 0.4
Nombre actuel : 0.6
Nombre actuel : 1.0
Nombre actuel : 1.6
Nombre actuel : 2.6

In [127]:
for i in numbers:
    if i%2==1:
        print(i)

1
1
3
5
13

In [128]:
numbers.append(7)

In [129]:
numbers

[1, 1, 2, 3, 5, 8, 13, 7]

In [101]:
for i in range(len(numbers)):
    print(numbers[i])

1
1
2
3
5
8
13
7

In [139]:
dict

{'C': 1, 'C++': 3, 'Python': 6, 'Perl': 4, 'Java': 4, 'Visual Basic': 12}

In [140]:
type(dict)

dict

In [146]:
for x,y in enumerate(numbers):
    print(x,y)

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 7

In [148]:
dict

{'C': 1, 'C++': 3, 'Python': 6, 'Perl': 4, 'Java': 4, 'Visual Basic': 12}

In [147]:
for x,y in enumerate(dict):
    print(x,y)

0 C
1 C++
2 Python
3 Perl
4 Java
5 Visual Basic

In [150]:
for i, (key, value) in enumerate(dict.items()):
    print(f"{i}: {key} -> {value}")

0: C -> 1
1: C++ -> 3
2: Python -> 6
3: Perl -> 4
4: Java -> 4
5: Visual Basic -> 12

In [155]:
for x, y in enumerate(nums):
    print(x,y)

0 3
1 4
2 5
3 0

In [174]:
nums = [3, 1, 5, 0, 4]
target = 7

In [175]:
def two_sum(nums, target):
    dict = {}
    for i, num in enumerate(nums):
        complement = target - num
        if complement in dict:
            return(i, dict[complement])
        else:
            dict[num] = i
    return(None)

In [176]:
print(two_sum(nums,target))

(4, 0)

# Serious

In [195]:
import json

In [196]:
# Open and load the JSON file
with open("generated.json", "r", encoding="utf-8") as file:
    data = json.load(file)  # Load JSON data as a Python dictionary

In [212]:
type(data)

list

In [208]:
print((data[0]))

{'_id': '67a368a25946a49bfc456848', 'index': 0, 'guid': '568a38c5-bc7e-4959-9033-2af3e2a98e12', 'isActive': False, 'balance': '$2,453.57', 'picture': 'http://placehold.it/32x32', 'age': 25, 'eyeColor': 'brown', 'name': 'Nadine Hayes', 'gender': 'female', 'company': 'FITCORE', 'email': 'nadinehayes@fitcore.com', 'phone': '+1 (806) 538-2505', 'address': '602 Visitation Place, Romeville, Connecticut, 4719', 'about': 'Duis anim ut sunt quis sunt. Culpa amet consequat incididunt nulla pariatur duis. Occaecat quis dolor esse eu dolore ullamco quis sunt irure laboris fugiat excepteur ea adipisicing. Nisi laboris pariatur adipisicing nisi ex.\r\n', 'registered': '2017-05-19T06:20:25 -02:00', 'latitude': 6.875997, 'longitude': -90.060083, 'tags': ['tempor', 'nisi', 'voluptate', 'exercitation', 'occaecat', 'consequat', 'adipisicing'], 'friends': [{'id': 0, 'name': 'Cathy Berry'}, {'id': 1, 'name': 'Sandy Wilcox'}, {'id': 2, 'name': 'Gamble Phelps'}], 'greeting': 'Hello, Nadine Hayes! You have 8 unread messages.', 'favoriteFruit': 'strawberry'}

In [224]:
data[0]['_id']

'67a368a25946a49bfc456848'

In [229]:
# Recursive function to parse JSON data
def traverse_json(obj, indent=0):
    dict = {}
    if isinstance(obj, list):
        for i, elem in enumerate(obj):
            dict[i] = elem
    return(dict)

In [234]:
dict = traverse_json(data)

In [236]:
dict[3]

{'_id': '67a368a266d13667a3a12656',
 'index': 3,
 'guid': '5233f52c-39c1-4897-bc90-463861953289',
 'isActive': True,
 'balance': '$3,040.72',
 'picture': 'http://placehold.it/32x32',
 'age': 24,
 'eyeColor': 'green',
 'name': 'Candice Griffith',
 'gender': 'female',
 'company': 'OPTICOM',
 'email': 'candicegriffith@opticom.com',
 'phone': '+1 (829) 441-2775',
 'address': '433 Senator Street, Wells, Delaware, 6533',
 'about': 'Amet duis amet ullamco dolore magna anim. Amet aliquip nostrud ut cillum minim. Non tempor exercitation excepteur commodo non cupidatat aliquip pariatur magna duis nostrud. Qui adipisicing exercitation non ullamco quis consectetur sint id. Exercitation eu ipsum nulla cupidatat veniam.\r\n',
 'registered': '2018-10-01T12:55:11 -02:00',
 'latitude': 62.862059,
 'longitude': 15.162468,
 'tags': ['labore',
  'dolor',
  'irure',
  'culpa',
  'voluptate',
  'dolore',
  'consequat'],
 'friends': [{'id': 0, 'name': 'Christy Ramos'},
  {'id': 1, 'name': 'Rhonda Clemons'},
  {'id': 2, 'name': 'Nicole Sherman'}],
 'greeting': 'Hello, Candice Griffith! You have 3 unread messages.',
 'favoriteFruit': 'apple'}

# POO

In [237]:
class Node:
    def __init__(self, data, next_node=None):
        self.data = data
        self.next_node = next_node

    def get_data(self):
        return self.data

    def get_next(self):
        return self.next_node

    def set_next(self, new_next):
        self.next_node = new_next

In [238]:
class LinkedList:
    def __init__(self, root=None):
        self.root = root
        self.size = 0

    def get_size(self):
        return self.size

    def add(self, data):
        new_node = Node(data, self.root)  # Create a new node pointing to the current root
        self.root = new_node  # Update the root to the new node
        self.size += 1  # Increment the size of the list

    def remove(self, data):
        this_node = self.root
        prev_node = None

        while this_node:  # Traverse the list
            if this_node.get_data() == data:  # Found the data
                if prev_node:  # If not the root node
                    prev_node.set_next(this_node.get_next())  # Remove the current node
                else:  # If it is the root node
                    self.root = this_node.get_next()  # Update the root
                self.size -= 1  # Decrement the size of the list
                return True  # Data removed successfully
            else:
                prev_node = this_node  # Move to the next node
                this_node = this_node.get_next()

        return False  # Data not found
    def find(self, d):
        this_node = self.root
        while this_node:
            if this_node.data == d:
                return d
            else:
                this_node = this_node.get_next()
        return Node

In [284]:
class Produit:
    def __init__(self, p, n, t):
        self.__price = p #private
        self._name = n #protected
        self.taille = t #public

    def get_size(self):
        return(self.taille)
    
    def get_price(self):
        return(self.__price)

In [285]:
P1 = Produit(18, 'Lait', 'L')

In [286]:
P1.taille

'L'

In [287]:
P1._name

'Lait'

In [288]:
P1.__price

AttributeError: 'Produit' object has no attribute '__price'

In [267]:
P1.get_size()

'L'

# Encapsulation
private, protected & public

# Heritage
child class & parent class

# Polymorphism
redefining methods

# Abstraction
classes that cannot be instantiated

static methods

# Problem Solving

In [292]:
data[0]

{'id': 1,
 'name': 'Alice Johnson',
 'age': 28,
 'email': 'alice@example.com',
 'purchase_history': [{'item': 'Laptop', 'amount': 1200},
  {'item': 'Mouse', 'amount': 25}],
 'location': {'city': 'New York', 'country': 'USA'},
 'membership': 'Gold'}

In [79]:
# Encapsulation
class Customer:
    def __init__(self, id, name, age, email, purchase_history, location, membership,  ):
        self.__id = id
        self.__name = name
        self.__age = age
        self.__email = email
        self.__city = location['city']
        self.__country = location['country']
        self.__location = location
        self.__membership = membership
        self.__purchase_history = purchase_history

    def get_id(self):
        return(self.__id)
    
    def get_location(self):
        return(self.__location)
    
    def get_name(self):
        return(self.__name)
    
    def get_age(self):
        return(self.__age)
    
    def get_email(self):
        return(self.__email)
    
    def get_city(self):
        return(self.__city)
    
    def get_membership(self):
        return(self.__membership)
    
    def get_total_spent(self):  
        return sum(item["amount"] for item in self.__purchase_history)

In [81]:
class PremiumCustomer(Customer):
    def get_total_spent(self): 
        return super().get_total_spent() * 0.9

 Design an Abstract CustomerProcessor Class (Abstraction)
Use an abstract class CustomerProcessor with a method process_data().
Implement this method in subclasses.

In [82]:
from abc import ABC, abstractmethod

class CustomerProcessor(ABC):
    @abstractmethod
    def process_data(self):
        pass

In [83]:
import json

In [84]:
# Open and load the JSON file
with open("data.json", "r", encoding="utf-8") as file:
    data = json.load(file)  # Load JSON data as a Python dictionary

In [85]:
data

[{'id': 1,
  'name': 'Alice Johnson',
  'age': 28,
  'email': 'alice@example.com',
  'purchase_history': [{'item': 'Laptop', 'amount': 1200},
   {'item': 'Mouse', 'amount': 25}],
  'location': {'city': 'New York', 'country': 'USA'},
  'membership': 'Gold'},
 {'id': 2,
  'name': 'Bob Smith',
  'age': 35,
  'email': 'bob@example.com',
  'purchase_history': [{'item': 'Phone', 'amount': 800},
   {'item': 'Headphones', 'amount': 100}],
  'location': {'city': 'Los Angeles', 'country': 'USA'},
  'membership': 'Silver'}]

In [86]:
# read Json and convert to customer objects
def load_customers(filename):
    with open(filename, "r", encoding="utf-8") as file:
        data = json.load(file)  # Load JSON data as a Python dictionary

    customers = []
    for entry in data:
        
        if entry['membership'] == 'Gold':   
            customers.append(PremiumCustomer(**entry))
        else:
            customers.append(Customer(**entry))
    return customers

In [87]:
import pandas as pd

In [88]:
def customers_dataframe(customers):
    df = []
    for customer in customers:
        df.append({
            'ID' : customer.get_id(),
            "Name": customer.get_name(),
            "Age": customer.get_age(),
            "Email": customer.get_email(),
            "City": customer.get_location()["city"],
            "Country": customer.get_location()["country"],
            "Membership": customer.get_membership(),
            "Total Spent": round(customer.get_total_spent(), 2)
            
            


        })
    return(df)

In [89]:
customers = load_customers('data.json')
df = customers_dataframe(customers)

In [90]:
df

[{'ID': 1,
  'Name': 'Alice Johnson',
  'Age': 28,
  'Email': 'alice@example.com',
  'City': 'New York',
  'Country': 'USA',
  'Membership': 'Gold',
  'Total Spent': 1102.5},
 {'ID': 2,
  'Name': 'Bob Smith',
  'Age': 35,
  'Email': 'bob@example.com',
  'City': 'Los Angeles',
  'Country': 'USA',
  'Membership': 'Silver',
  'Total Spent': 900}]